# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*

# Build outputs
build/
dist/
.cache/

# Logs
npm-debug.log*
yarn-error.log*

# OS
.DS_Store

ocr_env/

ocr_server/app/__pycache__/
ocr_server/app/temp/

noteProjetConcepition/