# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*
!.env.example

# Build outputs
build/
dist/
.cache/

# Logs
npm-debug.log*
yarn-error.log*

# OS
.DS_Store

ocr_env/
.venv/
ocr_server/.venv/
ocr_server/temp/
ocr_server/app/__pycache__/
__pycache__/

noteProjetConception.txt